<script src="https://unpkg.com/leaflet"></script>

<script>
  function initMap() {
    var initialLatLngString = document.getElementById("map").dataset.initialLatlng;
      var initialLatLng = JSON.parse(initialLatLngString);

      var mapOptions = {
        center: initialLatLng,
          zoom: 2
      };

      var map = L.map('map').setView(initialLatLng, 2);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);
  }

  document.addEventListener('DOMContentLoaded', initMap);
</script>
<style>
  .spot-card-container {
      width: 200px;
      height: 300px;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
  }
</style>

<div class="container">
  <div class="shadow p-2" style="border-radius: 12px">
    <div class="row" style="font-size: 20px">
      <div class="col-10">
        <span class="m-2"><strong><%= spot.name %></strong></span>
      </div>
      <div class="col-2">
        <%= link_to "#", style: "color: #40D3C4;" do %>
          <span><i class="far fa-heart"></i></span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= render "shared/complete_forecast" %>
    </div>
    <div class="row">
      <div class="col-5 m-2">
        <% spot.fishes.each do |fish|%>
          <%= render partial: "shared/fish_card", locals: {fish: fish} %>
        <% end %>
      </div>
      <div id="map" class="map spot-card-container col-6" data-initial-latlng="<%= [spot.latitude, spot.longitude]%>" style="height: 400px;"></div>
    </div>
  </div>
</div>
