<script src="https://unpkg.com/leaflet"></script>

<script>
  function initMap() {
    var initialLatLngString = document.getElementById("map<%=spot.id%>").dataset.initialLatlng;
      var initialLatLng = JSON.parse(initialLatLngString);

      var map = L.map('map<%=spot.id%>').setView(initialLatLng, 4);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);
  }

  document.addEventListener('DOMContentLoaded', initMap);
</script>
<style>
  .spot-card-container {
      width: 200px;
      height: 300px;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 10px;
  }
</style>

<div class="container">
  <div class="shadow p-2" style="border-radius: 12px">
    <div class="row" style="padding-top: 100px; font-size: 30px; background-image: url('<%= spot.spotImage %>'); color: white; border-radius: 12px 12px 0 0">
      <div class="col-10">
        <span class="m-2"><strong><%= spot.name %></strong></span>
      </div>
      <div class="col-2">
        <%= form_with(url: user_spots_path, method: :post, local: true) do |form| %>
          <%= form.hidden_field :spot_id, value: spot.id %>
          <a href="#" data-controller="favorite" data-action="click->favorite#toggle"  style="color: #40D3C4;" onclick="this.closest('form').submit(); return false;">
            <span><i class="<%= @user.spots.include?(spot) ? "fas" : "far"%> fa-heart"></i></span>
          </a>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= render "shared/complete_forecast" %>
    </div>
    <div class="row" >
      <div class="col-5" style="overflow-y: auto; max-height: 400px;">
        <% spot.fishes.each do |fish|%>
          <%= render partial: "shared/fish_card", locals: {fish: fish} %>
        <% end %>
      </div>
      <div id="map<%=spot.id%>" class="map spot-card-container col-6 m-2" data-initial-latlng="<%= [spot.latitude, spot.longitude]%>" style="height: 400px;"></div>
    </div>
  </div>
</div>
