<script src="https://unpkg.com/leaflet"></script>

<script>
  function initMap() {
    var initialLatLngString = document.getElementById("map<%=spot.id%>").dataset.initialLatlng;
    var initialLatLng = JSON.parse(initialLatLngString);

    var map = L.map('map<%=spot.id%>').setView(initialLatLng, 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);
  }


  function scrollFishCards(direction) {
    const container = document.getElementById('fish-cards-container');
    const scrollAmount = 100; // Adjust this value for faster or slower scrolling
    container.scrollBy({ top: direction * scrollAmount, behavior: 'smooth' });
  }

  document.addEventListener('DOMContentLoaded', initMap);
</script>

<style>
  .spot-card-container {
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .spot-header {
    padding-top: 100px;
    font-size: 30px;
    color: white;
    border-radius: 12px 12px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .scroll-arrow {
    cursor: pointer;
    font-size: 24px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
  }

  .scroll-arrow:hover {
    color: #007bff;
  }

  .fish-cards-container {
    position: relative;
  }
</style>

<div class="container">
  <div class="shadow p-2" style="border-radius: 12px">
    <div class="row spot-header" style="background-image: url('<%= spot.spotImage %>');">
      <div class="col-10">
        <span class="m-2"><strong><%= spot.name %></strong></span>
      </div>
      <div class="col-2">
        <% if user_signed_in? %>
          <%= form_with(url: user_spots_path, method: :post, local: true) do |form| %>
            <%= form.hidden_field :spot_id, value: spot.id %>
            <a href="#" data-controller="favorite" data-action="click->favorite#toggle" style="color: #40D3C4;" onclick="this.closest('form').submit(); return false;">
              <span><i class="<%= @user.spots.include?(spot) ? 'fas' : 'far' %> fa-heart"></i></span>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= render "shared/complete_forecast" %>
    </div>
    <div class="row">
      <div class="col-5 fish-cards-container">
        <div class="scroll-arrow" onclick="scrollFishCards(-1)">
          &#9650; <!-- Up arrow -->
        </div>
        <div id="fish-cards-container" style="overflow-y: auto; height: 350px; scrollbar-width: none;">
          <% spot.fishes.each do |fish| %>
            <%= render partial: "shared/fish_card", locals: { fish: fish } %>
          <% end %>
        </div>
        <div class="scroll-arrow" onclick="scrollFishCards(1)">
          &#9660; <!-- Down arrow -->
        </div>
      </div>
      <div id="map<%=spot.id%>" class="map spot-card-container col-6 m-2" data-initial-latlng="<%= [spot.latitude, spot.longitude] %>" style="height: 400px;"></div>
    </div>
  </div>
</div>
