<div class="welcome-message">
  <% if @user_name.present? %>
    <p>Hello <%= @user_name %></p>
  <% else %>
    <p>Hello Guest</p>
  <% end %>
</div>

<div class="button-container">
  <%= render "shared/square_button", path: root_path, icon_class: "fas fa-bell" %>
  <%= render "shared/square_button", path: root_path, icon_class: "fas fa-location-dot", class_name: "bubble" %>
</div>

<%= render "shared/flashes" %>
<%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-custom", style: "width: 70%"    %>
<%= render "shared/complete_forecast" %>
<%= render "shared/navbar" %>
