<div class="container px-5" >
  <div class="row">
    <%= image_tag "logo.png"%>
  </div>
  <div class="row mb-4">
    <span class="log-in-title">Welcome</span><br>
    <span class="log-in-subtitle" style="padding-left: 16px;">Your Guide to Sea Success</span>
  </div>
  <div class="row">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "log-in-input border mb-3", placeholder: "Email address" } %>
        <%= f.input :password,
                    required: false,
                    label: false,
                    input_html: { autocomplete: "current-password", class: "log-in-input border", placeholder: "Password" } %>
        <div class="row">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "log-in-text"%><br />
          <% end %>
        </div>
      </div>
      <div class="form-actions pt-5">
        <%= f.button :submit, "Sign-in", class: "btn btn-custom" %>
      </div>
    <% end %>

  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-6 col-sm-6 text-center">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class: "log-in-text" %><br />
      <% end %>
    </div>
    <div class="col-6 col-sm-6 text-center">
      <%= link_to "Enter as Visitor", root_path , class: "log-in-text" %><br/>
    </div>
  </div>
</div>
