<!DOCTYPE html>
<html>
  <head>
    <title>Fished</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/components/forecast.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
    body {
        font-family: 'Inter';
    }
    </style>
  </head>

  <body><%= render "shared/navbar" %>

<%= render "shared/flashes" %>
    <%= yield %>
    <%# <%= render "shared/navbar" %>
  </body>
</html>
